@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.h1_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -3px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h1_text {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -2px;
  }
}
@media (max-width: 576px) {
  .h1_text {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.5px;
  }
}

.h2_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -2px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h2_text {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.5px;
  }
}
@media (max-width: 576px) {
  .h2_text {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
  }
}

.h3_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -1.5px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h3_text {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
  }
}
@media (max-width: 576px) {
  .h3_text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
  }
}

.h4_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h4_text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
  }
}
@media (max-width: 576px) {
  .h4_text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.8px;
  }
}

.h5_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.8px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h5_text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.8px;
  }
}
@media (max-width: 576px) {
  .h5_text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
}

.h6_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
}
@media (max-width: 576px) {
  .h6_text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
  }
}

.subtitle_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.8px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .subtitle_text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.8px;
  }
}
@media (max-width: 576px) {
  .subtitle_text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
}

.link_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-decoration: none;
}

.para_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
}
@media (max-width: 576px) {
  .para_text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
  }
}

.label_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
}

span .star-icon {
  height: 18px;
  width: 18px;
  padding-right: 5px;
  color: rgb(112, 0, 254);
}

.understand-user-icons {
  color: rgb(112, 0, 254);
  height: 20px;
  width: 20px;
  padding: 8px;
  border-radius: 0px;
}

.prototype-icons {
  width: 48px;
  height: 48px;
  background: rgba(112, 0, 254, 0.1);
  border-radius: 10px;
}

.image-size {
  height: 80%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 576px) {
  .image-size {
    height: 200px;
  }
}
.h1_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -3px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h1_text {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -2px;
  }
}
@media (max-width: 576px) {
  .h1_text {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.5px;
  }
}

.h2_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -2px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h2_text {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.5px;
  }
}
@media (max-width: 576px) {
  .h2_text {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
  }
}

.h3_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -1.5px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h3_text {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
  }
}
@media (max-width: 576px) {
  .h3_text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
  }
}

.h4_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h4_text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
  }
}
@media (max-width: 576px) {
  .h4_text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.8px;
  }
}

.h5_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.8px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h5_text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.8px;
  }
}
@media (max-width: 576px) {
  .h5_text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
}

.h6_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
}
@media (max-width: 576px) {
  .h6_text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
  }
}

.subtitle_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.8px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .subtitle_text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.8px;
  }
}
@media (max-width: 576px) {
  .subtitle_text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
}

.link_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-decoration: none;
}

.para_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
}
@media (max-width: 576px) {
  .para_text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
  }
}

.label_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
}

.nav-links {
  margin: 20px;
}
.nav-links .purchase-link {
  color: rgb(112, 0, 254);
}

@media only screen and (max-width: 576px) {
  body {
    margin: 0;
  }
  .nav-links {
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    padding: 12px;
  }
}
.h1_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -3px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h1_text {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -2px;
  }
}
@media (max-width: 576px) {
  .h1_text {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.5px;
  }
}

.h2_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -2px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h2_text {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.5px;
  }
}
@media (max-width: 576px) {
  .h2_text {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
  }
}

.h3_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -1.5px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h3_text {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
  }
}
@media (max-width: 576px) {
  .h3_text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
  }
}

.h4_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h4_text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
  }
}
@media (max-width: 576px) {
  .h4_text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.8px;
  }
}

.h5_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.8px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h5_text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.8px;
  }
}
@media (max-width: 576px) {
  .h5_text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
}

.h6_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
}
@media (max-width: 576px) {
  .h6_text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
  }
}

.subtitle_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.8px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .subtitle_text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.8px;
  }
}
@media (max-width: 576px) {
  .subtitle_text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
}

.link_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-decoration: none;
}

.para_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
}
@media (max-width: 576px) {
  .para_text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
  }
}

.label_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
}

.button {
  padding: 12px 17px;
  border-radius: 5px;
}

.hero-cont {
  margin: 10%;
}
.hero-cont .hero-cont-call-to-action {
  gap: 16px;
  width: 318px;
}
.hero-cont .hero-cont-call-to-action .hero-cont-cta-button1 {
  background: rgb(112, 0, 254);
  border: none;
}
.hero-cont .hero-cont-call-to-action .hero-cont-cta-button1 .link_text {
  color: #FFFFFF;
}
.hero-cont .hero-cont-call-to-action .hero-cont-cta-button2 {
  background: #FFFFFF;
  border: 1px solid rgba(39, 41, 55, 0.35);
}
.hero-cont .hero-cont-call-to-action .hero-cont-cta-button2 a {
  color: rgb(39, 41, 55);
}
.hero-cont .hero-cont-call-to-action .link_text {
  text-align: center;
}
.hero-cont .hero-cont-call-to-action .link_text span .full-preview-icon {
  height: 12px;
  width: 12px;
  padding-left: 7px;
}

@media only screen and (min-width: 576px) {
  .hero-cont .master-head-title {
    max-width: 608px;
  }
}
@media (max-width: 576px) {
  .hero-cont-call-to-action {
    flex-direction: column;
  }
}
.h1_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -3px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h1_text {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -2px;
  }
}
@media (max-width: 576px) {
  .h1_text {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.5px;
  }
}

.h2_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -2px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h2_text {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.5px;
  }
}
@media (max-width: 576px) {
  .h2_text {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
  }
}

.h3_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -1.5px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h3_text {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
  }
}
@media (max-width: 576px) {
  .h3_text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
  }
}

.h4_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h4_text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
  }
}
@media (max-width: 576px) {
  .h4_text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.8px;
  }
}

.h5_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.8px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h5_text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.8px;
  }
}
@media (max-width: 576px) {
  .h5_text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
}

.h6_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
}
@media (max-width: 576px) {
  .h6_text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
  }
}

.subtitle_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.8px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .subtitle_text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.8px;
  }
}
@media (max-width: 576px) {
  .subtitle_text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
}

.link_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-decoration: none;
}

.para_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
}
@media (max-width: 576px) {
  .para_text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
  }
}

.label_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
}

.center-section {
  padding: 50px 62px;
}
.center-section .center-cont {
  gap: 64px;
}
.center-section .center-cont .center-cont-items {
  width: 100%;
  gap: 40px;
}
.center-section .center-cont .center-cont-items .center-item-cont {
  padding: 40px;
}
.center-section .center-cont .center-cont-items .center-item-cont .center-item-title {
  margin: 0;
}
.center-section .center-cont .center-cont-items .center-item-cont .center-item-subtitle {
  color: rgba(39, 41, 55, 0.75);
}

@media (max-width: 576px) {
  .center-item-cont {
    text-align: center;
    order: 2;
  }
  .center-cont-items {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .image-container {
    height: 350px;
  }
}
@media only screen and (min-width: 576px) {
  .center-item-cont {
    max-width: 30%;
  }
}
.h1_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -3px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h1_text {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -2px;
  }
}
@media (max-width: 576px) {
  .h1_text {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.5px;
  }
}

.h2_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -2px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h2_text {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.5px;
  }
}
@media (max-width: 576px) {
  .h2_text {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
  }
}

.h3_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -1.5px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h3_text {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
  }
}
@media (max-width: 576px) {
  .h3_text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
  }
}

.h4_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -1px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h4_text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
  }
}
@media (max-width: 576px) {
  .h4_text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.8px;
  }
}

.h5_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.8px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .h5_text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.8px;
  }
}
@media (max-width: 576px) {
  .h5_text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
}

.h6_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
}
@media (max-width: 576px) {
  .h6_text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
  }
}

.subtitle_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.8px;
}
@media (min-width: 576px) and (max-width: 991px) {
  .subtitle_text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.8px;
  }
}
@media (max-width: 576px) {
  .subtitle_text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
}

.link_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-decoration: none;
}

.para_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
}
@media (max-width: 576px) {
  .para_text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
  }
}

.label_text {
  color: rgb(39, 41, 55);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
}

.left-section {
  padding: 0 20px;
}
.left-section .left-cont {
  gap: 40px;
  margin: 5%;
}
.left-section .left-cont .left-column1 {
  gap: 35px;
  flex: 1;
}
.left-section .left-cont .left-column1 .left-column-item {
  gap: 24px;
}
.left-section .left-cont .left-column1 .left-column-item .left-row-item-description {
  row-gap: 5px;
}
.left-section .left-cont .left-column2 {
  flex: 1;
}

@media (max-width: 576px) {
  .left-cont {
    margin: 10%;
  }
}
@media only screen and (max-width: 919px) {
  .left-cont {
    flex-direction: column;
  }
  .left-cont .left-column-item {
    padding: 0 30px;
  }
  .left-column2 {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.right-section {
  padding: 0 20px;
}
.right-section .right-cont {
  flex: 1;
}
.right-section .right-cont .right-column1 {
  justify-content: center;
  flex: 1;
}
.right-section .right-cont .right-column1 .iphone {
  width: 54%;
}
.right-section .right-cont .right-column2 {
  flex: 1;
  gap: 24px;
}
.right-section .right-cont .right-column2 .right-rows {
  gap: 24px;
}
.right-section .right-cont .right-column2 .right-rows .right-row-items {
  flex: 1;
  gap: 12px;
  box-sizing: border-box;
  padding: 24px;
  border: 1px solid rgba(39, 41, 55, 0.12);
  border-radius: 10px;
}

@media (max-width: 576px) {
  .right-cont {
    margin: 10%;
  }
  .right-rows {
    flex-direction: column;
  }
}
@media only screen and (max-width: 991px) {
  .right-cont {
    flex-direction: column;
  }
  .right-column1 {
    order: 1;
  }
  .right-column1 .iphone {
    padding: 3%;
  }
}
@media (min-width: 991px) {
  .right-cont {
    margin: 5%;
  }
}
body {
  background-color: #FFFFFF;
}

.left-section .left-cont, .left-section .left-cont .left-column1 .left-column-item, .right-section, .right-section .right-cont, .right-section .right-cont .right-column1, .right-section .right-cont .right-column2 .right-rows {
  display: flex;
}

.left-section .left-cont .left-column1, .left-section .left-cont .left-column1 .left-column-item .left-row-item-description, .left-section .left-cont .left-column2, .right-section .right-cont .right-column2, .right-section .right-cont .right-column2 .right-rows .right-row-items {
  display: flex;
  flex-direction: column;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.prototype-icons, .hero-cont .hero-cont-call-to-action, .center-section .center-cont .center-cont-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.master-head, .hero-cont, .center-section, .center-section .center-cont, .center-section .center-cont .center-cont-items .center-item-cont, .left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.master-head {
  padding: 0px 0px 64px;
}

.master-head-title {
  max-width: 60%;
  margin: 0;
  text-align: center;
}

.master-head-subtitle {
  text-align: center;
  color: rgba(39, 41, 55, 0.75);
  max-width: 55%;
}

@media only screen and (max-width: 991px) {
  .master-head-subtitle {
    max-width: 60%;
  }
}/*# sourceMappingURL=styles.css.map */