// @import '/styles/accordian', '/styles/colors', '/styles/icons', '/styles/para', '/styles/typography';
@import './base/colors', './base/typography', 'components/navbar', './sections/hero-section','./sections/center-section','./sections/left-section';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background-color: $ltwhite;
}

%flex {
    display: flex;
}

%flexc {
    display: flex;
    flex-direction: column;
}

%flex_spaceb {
    display: flex;
    justify-content: space-between;
}

%flex_around {
    display: flex;
    justify-content: space-around;
}

%flex_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
