@import '../base/colors', '../base/typography';
.nav-links {
    margin: 20px;
    @extend %flex_around;

    .purchase-link {
        color: $actprimary;

        span .star-icon {
            height: 18px;
            width: 18px;
            padding-right: 5px;
            color: $actprimary;
        }
    }
}

@media only screen and (max-width: 576px) {
    body {
        margin: 0;
    }
    .nav-links {
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
        padding: 12px;
    }
}