@import '../base/colors', '../base/typography';

.center-section {
    @extend %flex_col;
    padding: 50px 62px;

    .center-cont {
        @extend %flex_col;
        gap: 64px;

        .center-cont-items {
            @extend %flex_row;
            width: 100%;
            gap: 40px;
   
            .center-item-cont {
                @extend %flex_col;
                max-width: 30%;
                padding: 40px;

                .center-item-title {
                    margin: 0;
                }

                .center-item-subtitle {
                    color: $dksecondary;
                }
            }
        }
    }
}

@media #{$mobile} {
    .center-item-cont {
        text-align: center;
        order: 2;
    }

    .center-cont-items {
        flex-direction: column;
        align-items: center;

    }
}