@import '../base/colors','../base/typography';

.button {
    padding: 12px 17px;
    border-radius: 5px;
}

.hero-cont {
    @extend %flex_col;
    margin: 10%;

    .hero-cont-call-to-action {
        @extend %flex_row;
        gap: 16px;
        width: 318px;

        .hero-cont-cta-button1 {
            background: $actprimary;
            border: none;
            .link_text {
                color: $ltwhite;    
            }
        }
        
        .hero-cont-cta-button2 {
            background: $ltwhite;
            border: 1px solid $dkterteriary;
            a {
                color: $dkprimary;    
            }
        }

        .link_text {
            text-align: center;
            
            span .full-preview-icon {
                height: 12px;
                width: 12px;
                padding-left: 7px;
            }
        }
    }
}

@media only screen and (min-width: 576px) {
    .hero-cont .master-head-title { 
        max-width: 608px;  
    }
}

@media #{$mobile} {
    .hero-cont-call-to-action {
        flex-direction: column;
    }
}