.left-section {
    @extend %flex_col;

    .left-head {
        @extend %flex_col;
        text-align: center;
        padding: 0px 0px 64px;

        .head-title {
            margin: 0;
            text-align: center;
        }
        .head-subtitle {
            text-align: center;
            color: $dksecondary;
        }
    }
}