@import '../base/colors', '../base/typography';

.left-section {
    @extend %flex_col;


    .left-cont {
        @extend %flex;
        gap: 40px;
        margin: 5%;

        .left-column1 {
            @extend %flexc;
            gap: 35px;

            .left-column-item {
                @extend %flex;
                gap: 24px;

                .left-column-icon1 {
                    @extend %flex_row;
                    width: 48px;
                    height: 48px;
                    background: $actopacity1;
                    border-radius: 10px;
                }

                .left-row-item-description {
                    @extend %flexc;
                    row-gap: 5px;
                }
            }
        }
        
        .left-column2 {
            @extend %flexc;
            flex: 1;
        }
    }
}

@media only screen and (max-width: 919px) {
    .left-cont {
        flex-direction: column;

        .left-column-item {
            padding: 0 30px;
        }
    }
    .left-column2 {
        height: 200px;
        object-fit: cover;
    }
}