$dkblack : #000000;
$dkprimary : rgba(39, 41, 55, 1);
$dksecondary :rgba(39, 41, 55, 0.75);
$dkterteriary : rgba(39, 41, 55, 0.35);
$dkquaternary : rgba(39, 41, 55, 0.12);
$dkbackground : rgba(39, 41, 55, 0.05);

$ltwhite : #FFFFFF;
$ltprimary : rgba(255, 255, 255, 0.93);
$ltsecondary :rgba(255, 255, 255, 0.65);
$ltterteriary : rgba(255, 255, 255, 0.35);
$ltquaternary : rgba(255, 255, 255, 0.2);
$ltbackground : rgba(255, 255, 255, 0.1);

$actpressed : rgba(90, 0, 204, 1);
$actprimary : rgba(112, 0, 254, 1);
$acthover : rgba(141, 51, 255, 1);
$actopacity5 : rgba(112, 0, 254, 0.5);
$actopacity3 : rgba(112, 0, 254, 0.3);
$actopacity1 : rgba(112, 0, 254, 0.1);

$spinfo : rgba(51, 133, 255, 1);
$spsuccess : rgba(72, 181, 39, 1);
$spwarning : rgba(255, 182, 73, 1);
$spdanger : rgba(255, 58, 48, 1);

$backgrounddk : rgba(255, 255, 255, 0.2);
$backgroundlt : rgba(248, 248, 248, 1);