$font_weight1 : 600;
$font_weight2 : 400;

$font_family1 : 'Inter';
$font_style1 : normal;

$mobile: "(max-width: 576px)";
$tablet: "(min-width: 576px) and (max-width: 991px)";
$desktop: "(min-width:  991px)";